@charset "utf-8";
#addUserPage{
    position: relative;
    margin: 30px auto 10px;
    width: 600px; height: 600px;
}

#addUserForm h2{
    text-align: center;
    font-size: 40px;
    position: relative; top: 70px;
    color: #000;
    
}
#addUserForm table{
    margin: 110px auto;
    width: 300px;
    border-radius: 5px; text-align: center; 
}
#addUserForm table th{ height: 70px;}
#addUserForm table input{height: 30px; padding-left: 5px; border-radius: 5px;}


#addUsericon{
    position: absolute; bottom: 120px; left: 120px;
}
#addUserPage p{
    padding-top: 50px;
    text-align: center;
	color: red;
	font-weight: bold;
}

#addUsericon input{
    width: 180px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 10px; border: 2px solid #000;
    background: #fff;
    font-family: 'EliceDigitalBaeum_Bold';
    cursor: pointer;
}
#addUsericon a{
    display: inline-block;
    width: 180px; line-height: 50px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
}

#addUsericon input:hover{background: #000; color: #fff;}
#addUsericon a:hover{background: #000; color: #fff;}