@charset "utf-8";
#adminLoginPage{
    position: relative;
    margin: 30px auto 10px;
    width: 600px; height: 480px;
}

#adminLoginForm h2{
    text-align: center;
    font-size: 40px;
    position: relative; top: 50px;
    color: #000;
    
}
#adminLoginForm table{
    margin: 100px auto; 
    width: 300px;
    border-radius: 5px; text-align: center; 
}
#adminLoginForm table th{ height: 70px;}
#adminLoginForm table input{height: 30px; padding-left: 5px; border-radius: 5px;}


#adminLoginBtn{
    position: absolute; bottom: 60px; left: 120px;
}
#adminLoginPage p{
    text-align: center; position: relative; top: -70px;
    color: #ff3e3e; font-weight: bold;
}

#adminLoginBtn input{
    width: 180px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 10px; border: 2px solid #000;
    background: #fff;
    font-family: 'EliceDigitalBaeum_Bold';
    cursor: pointer;
}
#adminLoginBtn a{
    display: inline-block;
    width: 180px; line-height: 50px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
}
#adminLoginBtn p{margin: 205px 0;}
#adminLoginBtn input:hover{background: #000; color: #fff;}
#adminLoginBtn a:hover{background: #000; color: #fff;}