@charset "utf-8";
#adminLoginPage{
    position: relative;
    margin: 30px auto 10px;
    width: 600px; height: 520px;
}

#adminLoginForm h2{
    text-align: center;
    font-size: 40px;
    position: relative; top: 50px;
    color: #000;
    
}
#adminLoginForm table{
    margin: 100px auto; 
    width: 300px;
    border-radius: 5px; text-align: center; 
}
#adminLoginForm table th{ height: 70px;}
#adminLoginForm table input{height: 30px; padding-left: 5px; border-radius: 5px;}


#adminLoginBtn{
    position: absolute; bottom: 120px; left: 120px;
}

#adminLoginPage p{
	padding-top: 70px;
    text-align: center;
	color: red;
	font-weight: bold;
}

#adminLoginBtn input{
    width: 180px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 10px; border: 2px solid #000;
    background: #fff;
    font-family: 'EliceDigitalBaeum_Bold';
    cursor: pointer;
}
#adminLoginBtn a{
    display: inline-block;
    width: 180px; line-height: 50px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
}

#adminLoginBtn input:hover{background: #000; color: #fff;}
#adminLoginBtn a:hover{background: #000; color: #fff;}