@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	outline: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	color: #920;
	background: #ddd;
}

th, td {
	text-align: center;
	border: 1px solid #000;
}

body { background: #eee; }

.caption { font-size: 25px; font-weight: bold; text-align: center; margin-bottom: 20px; color: #666; 
		   background: #ddd; padding: 5px; border-radius: 10px; }

article { position: absolute; }

h1 { text-align: center; padding: 20px 0; background: #aaa; }


#article1 { width: 760px; left: calc(50% - 770px); top: 13%; }
#productWrap { width: 690px; height: 177px; overflow: auto; }
#product {}
#product th, #product td, #membership th, #membership td, #orderList th, #orderList td {
	padding: 1px 10px;
}

#article2 { width: 690px; left: calc(50% + 50px); top: 13%; }
#membershipWrap { width: 690px; height: 177px; overflow: auto; }
#membership {}

#article3 { width: 1000px; left: calc(50% - 770px); top: 48%; }
#orderListWrap { width: 1000px; height: 243px; overflow:auto; }
#orderList {}


#sellByProduct { position: absolute; left: calc(50% + 280px); top: 48%; width: 460px; }
#productSelectList { margin: 30px 70px; }
#sellByProduct span { background: #bbb; padding: 5px; border-radius: 5px; }

#sellByProduct #netSales, #sellByProduct #totalSales { margin: 30px 0 30px 300px; }

#netSalesCap { margin-top: 30px; }
#totalSalesCap { margin-top: 40px; }


#goMain { display: block; width: 100px; position: absolute; left: calc(50% - 40px); top: 87%; 
		  text-decoration: none; color: #fff; background: #aaa; text-align: center; border-radius: 10px;
		  padding: 10px 15px; font-family: sans-serif; }
#goMain:hover { background: #bbb; }