@charset "utf-8";

#menuListWrap{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.menuWrap #titleMenu{
	width: 70.1%;
    height: 70px; 
    float: left;
}

.menuWrap #titleMenu p:hover {
    background-color: rgb(82, 77, 77);
    color: #fff;
}

.menuWrap #titleMenu>p{
	width: 33.3333%;
	line-height: 70px;
    cursor: pointer;
    display: block;
    font-style: italic;
    font-weight: bold;
    box-sizing: border-box;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    float: left;
}

.menuWrap .categoryArticle{
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.menuWrap .categoryArticle>div{
    float: left;
    width: 33.333%;
    margin: 20px 0 20px;
}

.menuWrap .categoryArticle>div>img{
    width: 170px;
    height: 180px;
    
}
/*주문 공간*/
#orderedList{
	margin: 0 auto;
    width: 30%;
    height: 35.4vh;
    background: #eee;
    text-align: center;
    position: absolute; top: 100vh; right: 0px;
}
#container{
    overflow-y: scroll;
    width: 830px; 
    height: 35vh;
    float: right;
}
#container p{
    text-align: left;
    position: absolute; top: 10px; left: 160px;
}
#totalNum{
    width: 150px;
    height: 25vh;
    font-size: 50px;
    position: absolute; bottom: 0px; left: 160px;
}
#payment{
    cursor: pointer;
    width: 150px;
    height: 18vh;
    background: #fff;
    position: absolute; bottom: 0px; left: 0px;
}
#goToIndex{
    display: block;
    width: 150px;
    height: 15vh;
    line-height: 50px;
    background: #fff;
    border: 1px solid #000;
}

/* #container에 담긴 개별 메뉴*/
/* .commonCart{
    margin: 10px;
    width: 200px;
    height: 150px;
    padding-top: 35px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
    float: left;
}
.cartName{
   border: none;
   background: none;
   text-align: center;
   font-weight: bold;
   font-size: 14px;
}
.tempWrap{
    font-size: 5px;
}

.sizeWrap{
    font-size: 5px;
}
#numWrap input{
    width: 10px;
    visibility: hidden;
}
.price{
    width: 40px;
} */
