@charset "UTF-8";

#myPageLoginWrap {
	width: 800px;
	height: 800px;
	margin: 100px auto;
	text-align: center;
}

#myPageLoginWrap h1 {
	
}

#myPageLoginWrap p {
	
}

form {
	margin: 100px auto;
	width: 300px;
	position: absolute;
	left: clac(50% - 150px);
}