@charset "UTF-8";

#myPageLoginPage {
    position: relative;
    margin: 30px auto 10px;
    width: 600px; height: 480px;
}

#myPageLoginForm h1 {
    text-align: center;
    font-size: 40px;
    position: relative; top: 70px;
    color: #000;
}

#myPageLoginForm table {
    margin: 130px auto;
    width: 300px;
    border-radius: 5px; text-align: center; 
}

#myPageLoginForm table th {
	height: 70px;
}

#myPageLoginForm table input {
	height: 30px;
	padding-left: 5px;
	border-radius: 5px;
}

#myPageLoginBtn {
    position: absolute; bottom: 20px; left: 120px;
}

#myPageLoginPage p {
	position: relative; top: 110px;
    text-align: center;
    color: #ff3e3e;
    font-weight: bold;
}

#myPageLoginBtn input {
    width: 180px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 10px; border: 2px solid #000;
    background: #fff;
    font-family: 'EliceDigitalBaeum_Bold';
    cursor: pointer;
}

#myPageLoginBtn a {
    display: inline-block;
    width: 180px; line-height: 50px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
}

#myPageLoginBtn p {
	margin: 205px 0;
}

#myPageLoginBtn input:hover {
	background: #000; color: #fff;
}

#myPageLoginBtn a:hover {
	background: #000;
	color: #fff;
}