@charset "utf-8";

#myPageWrap{
    position: relative;
    margin: 30px auto 10px;
    width: 600px; height: 600px;
}

#myPageForm h1{
    text-align: center;
    font-size: 40px;
    position: relative; top: 60px;
    color: #000;    
}

p { font-weight: bold; }

h1+p {
	padding-top: 90px;
    text-align: center;
}

#userInfo {
    margin: 10px auto;
    width: 300px;
    border-radius: 5px; text-align: center; 
}

#userInfo th{ height: 55px;}
#userInfo input{height: 30px; padding-left: 5px; border-radius: 5px;}

#name {
	background: #cecece;
}
#errorMsg {
    padding-top: 60px;
    text-align: center;
	color: red;
}

#userMileageWrap {
	width: 300px;
	margin: -50px auto;
    border-radius: 5px;
}

#userMileage {
	width: 300px;
	text-align: center;
}

#userMileage th{
	width: 84.77px;
	height: 55px;
}

#usesrMileage td {
	width: 209.23px;
}

#userMileage input{height: 30px; padding-left: 5px; border-radius: 5px;}
#mileage {
		
}

#myPageBtn{
    position: absolute; bottom: 60px; left: 120px;
}

#myPageBtn input{
    width: 180px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 10px; border: 2px solid #000;
    background: #fff;
    font-family: 'EliceDigitalBaeum_Bold';
    cursor: pointer;
}
#myPageBtn a{
    display: inline-block;
    width: 180px; line-height: 50px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
}

#myPageBtn input:hover{background: #000; color: #fff;}
#myPageBtn a:hover{background: #000; color: #fff;}
