@charset "utf-8";
#index{
    position: relative;
    margin: 15px 50px 15px 240px;
    width: 1280px; height: 720px;
    /* background: rgba(255, 255, 255, 0.4); */
    border-radius: 10px;}

/* #banner{
    margin: 0px auto; width: 90%; height: 13%; 
    position: relative; top: 50px;
    border-radius: 5px;
    background: url(../img/banner1.PNG) no-repeat center / cover;}
 */
#menuWrap{
    position: absolute; top: 200px; left: calc(50% - 220px);
}
#menuWrap>a{
    display:block; margin-top: 30px; text-align: center;
    width: 250px; line-height: 70px; font-size: 30px;
    background: rgba(255, 255, 255, 0.9); border-radius: 5px;
    color: #dfc535; font-style: italic;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#menuWrap>a:hover{
    background: #f0d852;
    color: #ececec;
}
#menuWrap>p{text-align: center; color: #fff; font-style: italic; margin: 10px 0;}
